<div class="container">
  <h1 style="text-align: center;">Liste relevet</h1>
  <center>  <button type="button" (click)="openPopup_relevet()" class="btn btn-outline-success">Cree Relevet</button></center>
  <table class="table table-striped table-bordered  row-border hover display" id="datatableexample">
    <thead>
      <tr>
        <th></th>
        <th class="th-sm">Num Relevet
        </th>
        <th class="th-sm">Date relevet
        </th>
        <th class="th-sm">
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bon of allbons">
        <td><input type="checkbox" (change)="onChange($event)" value="{{ bon.refreleve }}" /></td>
        <td>{{ bon.refreleve }}</td>
        <td>{{ bon.date_relevet | date:'dd/MM/yyyy' }}</td>
        <td>
          <button class="btn btn-success btn-block" (click)="openPopuppdf(bon.refreleve,bon.date_relevet)">Lettre</button>
          <button type="button" (click)="openPopupexcel(bon.refreleve,bon.date_relevet)" class="btn btn-outline-success">Excel</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th class="th-sm">Num Relevet
        </th>
        <th class="th-sm">Date relevet
        </th>
        <th class="th-sm">
        </th>
      </tr>
    </tfoot>
  </table>
  <div class="modal animate__animated {{modal_var}}" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form [formGroup]="checkoutForm">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Creation relevet</h4>
            <button type="button" class="close" (click)="closePopup()">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="mb-3 mt-3">
              <label for="num_facture" class="form-label">Numero relevet:</label>
              <input type="text" formControlName="nume_facture" class="form-control" id="num_facture"
                placeholder="Enter Numero facture" name="num_facture">
            </div>
            <div class="mb-3">
              <label for="date_facture" class="form-label">Date facture:</label>
              <input type="date" formControlName="date_facture" class="form-control" id="date_facture"
                name="date_facture">
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" [disabled]="!checkoutForm.valid" (click)="facturee()">
              Relevet
            </button>
            <button type="button" class="btn btn-success animate__animated {{deletenone}}" (click)="closePopup()">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal animate__animated {{modal_var}}" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayStylepdf}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form >
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Lettre PDF </h4>
            <button type="button" class="close" (click)="closePopuppdf()">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            vous êtes sur que vous voulez Exporter la Lettre PDF du Relevet :<strong> {{refrelevet}}</strong>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  (click)="openPDF(refrelevet)">
              Exporter fichier Letter
            </button>
            <button type="button" class="btn btn-success animate__animated {{deletenone}}" (click)="closePopuppdf()">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal animate__animated {{modal_var}}" tabindex="-1" role="dialog"  [ngStyle]="{'display':displayStyleexcel}">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <form >
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Excel relevet</h4>
            <button type="button" class="close" (click)="closePopupexcel()">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            vous êtes sur que vous voulez Exporter ficher Excel du relevet:<strong> {{refrelevet}}</strong>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"  (click)="onUpload()">
              Exporter Relevt (excel)
            </button>
            <button type="button" class="btn btn-success animate__animated {{deletenone}}" (click)="closePopupexcel()">
              Close
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
